<div class="my-3">
    <h2>Reset Password</h2>
</div>
<div class="form">
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPass(resetPassForm)">

        <mat-form-field class="w-75" appearance="outline" style="color: white;">
            <mat-label style="color: white;">E-mail</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email" />
            <mat-icon matSuffix>mail</mat-icon>

            <mat-error *ngIf="email?.hasError('email') ">
                Please enter a valid email address
            </mat-error>

            <mat-error *ngIf="email?.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-75" appearance="outline" style="color: white;">
            <mat-label style="color: white;">Verification code</mat-label>
            <input formControlName="otp" matInput placeholder="Enter your verification code" />
            <mat-icon matSuffix>key_vertical</mat-icon>

            <mat-error *ngIf="otp?.hasError('required')">
                verification code is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-75" appearance="outline" style="color: white;">
            <mat-label style="color: white;">Password</mat-label>
            <input formControlName="password" matInput placeholder="Enter your new password" />
            <mat-icon matSuffix>lock</mat-icon>

            <mat-error *ngIf="password?.hasError('pattern') ">
                password should be 3-20 character length & include at least one special character
            </mat-error>

            <mat-error *ngIf="password?.hasError('required')">
                password is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-75" appearance="outline" style="color: white;">
            <mat-label style="color: white;">Confirm password</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="confirm your password" />
            <mat-icon matSuffix>lock</mat-icon>

            <mat-error *ngIf="confirmPass?.hasError('notSame') ">
                confirm password doesn't match with password
            </mat-error>

            <mat-error *ngIf="confirmPass?.hasError('required')">
                confirm password is required
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-button class="bg-white px-3 d-block" [disabled]="resetPassForm.invalid">Send email<i
                class="fa-solid fa-circle-check px-2"></i></button>
    </form>

</div>