@import '../../../../assets/styles/abstract/variables.scss';

nav {
  border-bottom: 1px solid $gray-color;

  .new-quiz {
    border: 1px solid $gray-color;
    border-radius: $border-radius-15;
  }
}
